table {
  width: 10px;
}
table,
th,
td {
  border: 1px solid rgb(0, 152, 13);
  border-collapse: collapse;
  padding: 10px;
}
input {
  display: block;
}
section   {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
